In [1]:
import pandas as pd
import numpy as np
import collections
from scipy import stats
from datetime import datetime
import matplotlib.pyplot as plt
import math 

from mozo import save_model, merge_with_features, how_many_levels, compare_and_combine, compare_and_combine_2, num_to_range_categories

In [2]:
train = pd.read_hdf('~/pml7/module3/input/train.car_price.h5')
test = pd.read_hdf('~/pml7/module3/input/test.car_price.h5') #zbiór testowy bez odpowiedzi

In [3]:
compare_and_combine_2('param_marka-pojazdu / param_make', train)
compare_and_combine_2('param_model / param_model-pojazdu', train)
compare_and_combine_2('param_kod-silnika / param_engine-code', train)
compare_and_combine_2('param_wersja / param_version', train)

param_marka-pojazdu
param_make
Volkswagen     11314
Opel            9773
BMW             8327
Audi            7960
Ford            7567
               ...
Syrena             1
Moskwicz           1
Autobianchi        1
Aro                1
GWM                1
Name: param_marka-pojazdu, Length: 100, dtype: int64
Audi             13
Ford             10
Volkswagen        8
Toyota            8
Opel              7
BMW               6
Renault           6
Škoda             4
Mercedes-Benz     3
Alfa Romeo        3
Citroën           3
Mini              2
Volvo             2
Lada              2
Peugeot           1
Kia               1
Subaru            1
Mitsubishi        1
Nissan            1
Jeep              1
Name: param_make, dtype: int64
       param_marka-pojazdu param_make new_param_marka-pojazdu
0                    Dacia       None                   Dacia
2                  Peugeot       None                 Peugeot
3                  Porsche       None                 Porsche
4                  Peugeot       None                 Peugeot
5               Volkswagen       None              Volkswagen
...                    ...        ...                     ...
160609             Hyundai       None                 Hyundai
160610               Škoda       None                   Škoda
160611                Opel       None                    Opel
160614          Volkswagen       None              Volkswagen
160615             Peugeot       None                 Peugeot

[106494 rows x 3 columns]
Volkswagen     11322
Opel            9780
BMW             8333
Audi            7973
Ford            7577
               ...
Syrena             1
Moskwicz           1
Autobianchi        1
Aro                1
GWM                1
Name: new_param_marka-pojazdu, Length: 100, dtype: int64
==========================================================================================================
param_model
param_model-pojazdu
A6                5
Passat            4
Avensis           3
C-MAX             3
A3                3
Seria 5           2
Corolla           2
Seria 3           2
Mondeo            2
Focus             2
A4                2
Fiesta            2
Golf              2
Espace            2
Megane            2
Countryman        2
Astra             2
Niva              2
Fabia             2
Meriva            2
Q2                1
Rio               1
Insignia          1
147               1
Golf Plus         1
Corolla Verso     1
159               1
S60               1
Camry             1
Outlander         1
Xsara Picasso     1
Klasa A           1
Q5                1
Karoq             1
Klasa C           1
Scenic            1
Seria 1           1
Legacy            1
Grand Cherokee    1
Klasa E           1
A5                1
Zafira            1
Fusion            1
Octavia           1
Vectra            1
C4 Picasso        1
Clio              1
Note              1
Polo              1
Giulia            1
Berlingo          1
XC 60             1
X3                1
RAV4              1
207 CC            1
Name: param_model, dtype: int64
Astra                                                           3195
Passat                                                          2828
Seria 3                                                         2720
Golf                                                            2518
A4                                                              2458
                                                                ...
Equinox                                                            1
H-1/H300 2497ccm - 168KM 3.1t 08-11 2.5 crdi style+nawigacja       1
Spitfire                                                           1
New Yorker                                                         1
Steed                                                              1
Name: param_model-pojazdu, Length: 989, dtype: int64
       param_model param_model-pojazdu new_param_model
0             None               Logan           Logan
2             None                3008            3008
3             None             Cayenne         Cayenne
4             None                 308             308
5             None                Golf            Golf
...            ...                 ...             ...
160609        None                 i20             i20
160610        None               RAPID           RAPID
160611        None              Zafira          Zafira
160614        None              Passat          Passat
160615        None                 207             207

[106494 rows x 3 columns]
Astra                                                           3197
Passat                                                          2832
Seria 3                                                         2722
Golf                                                            2520
A4                                                              2460
                                                                ...
Equinox                                                            1
H-1/H300 2497ccm - 168KM 3.1t 08-11 2.5 crdi style+nawigacja       1
Spitfire                                                           1
New Yorker                                                         1
Steed                                                              1
Name: new_param_model, Length: 989, dtype: int64
==========================================================================================================
param_kod-silnika
param_engine-code
320       1221
520        897
318        732
530        544
525        439
          ...
B 250        1
340          1
C 400        1
CL 420       1
G 320        1
Name: param_kod-silnika, Length: 228, dtype: int64
525      2
320      2
E 300    1
A 190    1
C 220    1
118      1
Name: param_engine-code, dtype: int64
       param_kod-silnika param_engine-code new_param_kod-silnika
0                   None              None                  None
2                   None              None                  None
3                   None              None                  None
4                   None              None                  None
5                   None              None                  None
...                  ...               ...                   ...
160609              None              None                  None
160610              None              None                  None
160611              None              None                  None
160614              None              None                  None
160615              None              None                  None

[106494 rows x 3 columns]
320       1223
520        897
318        732
530        544
525        441
          ...
B 250        1
340          1
C 400        1
CL 420       1
G 320        1
Name: new_param_kod-silnika, Length: 228, dtype: int64
==========================================================================================================
param_wersja
param_version
II (2012-)          1572
H (2004-2014)       1428
II (2008-)          1213
II (2003 - 2009)    1175
A (2008-2017)       1165
                    ...
A (1982-1993)          1
B1 (1973-1981)         1
II (2006-2010)         1
II (1991-1996)         1
GLK 280                1
Name: param_wersja, Length: 508, dtype: int64
C6 (2004-2011)           3
B6 (2005-2010)           2
II (2007-2014)           2
I (2003-2010)            2
III (2008-2016)          2
II (2003 - 2009)         2
I (2002-2010)            2
Mk3 (2010-)              2
8P (2003-2012)           2
E34 (1988-1996)          1
III (2006-2012)          1
F30 (2012-)              1
III (2009-2016)          1
III (2011-)              1
J (2009-2015)            1
II (2006-2013)           1
W204 (2007-2014)         1
V (2003-2009)            1
W168 (1997-2004)         1
B5 (1996-2000)           1
III (1994-2001)          1
C7 (2011-)               1
V (2009-2017)            1
B7 (2010-2014)           1
H (2004-2014)            1
IV (2010-)               1
VII (2012-)              1
C5 (1997-2004)           1
B (1995-2002)            1
IV (2003-2014)           1
I (2000-2010)            1
III (2009-)              1
Seria E12 (2001-2007)    1
E90 (2005-2012)          1
8T (2007-2016)           1
FY (2017-)               1
F10 (2009-2017)          1
I (1996-2011)            1
II (1998-2012)           1
F20 (2011-)              1
Mk3 (2000-2006)          1
Mk7 (2008-)              1
II (2010-)               1
Mk5 (2014-)              1
I (2008-2017)            1
I (2006-2013)            1
A (2008-2017)            1
I (2005-2013)            1
V (2015-)                1
II (2008-)               1
B7 (2004-2007)           1
F25 (2010-)              1
B8 (2007-2015)           1
A (1999-2005)            1
Seria E11 (1997-2002)    1
8V (2012-)               1
W124 (1993-1997)         1
Mk8 (2017-)              1
Name: param_version, dtype: int64

             param_wersja param_version   new_param_wersja
0              II (2012-)          None         II (2012-)
2           I (2009-2016)          None      I (2009-2016)
3              II (2010-)          None         II (2010-)
4          T7 (2008-2013)          None     T7 (2008-2013)
5             VII (2012-)          None        VII (2012-)
...                   ...           ...                ...
160609      I (2008-2014)          None      I (2008-2014)
160610               None          None               None
160611      B (2005-2011)          None      B (2005-2011)
160614  B5 FL (2000-2005)          None  B5 FL (2000-2005)
160615               None          None               None

[106494 rows x 3 columns]
II (2012-)          1572
H (2004-2014)       1429
II (2008-)          1214
II (2003 - 2009)    1177
A (2008-2017)       1166
                    ...
A (1982-1993)          1
B1 (1973-1981)         1
II (2006-2010)         1
II (1991-1996)         1
GLK 280                1
Name: new_param_wersja, Length: 508, dtype: int64
==========================================================================================================

In [4]:
total = pd.concat([train, test], ignore_index=True)

In [7]:
how_many_levels(total)

0: created_at [99.90%=160455/160616]:
['12:13, 2 marca 2018', '22:19, 28 lutego 2018', '12:14, 2 marca 2018', '12:17, 2 marca 2018', None, '22:17, 28 lutego 2018', '12:12, 2 marca 2018']
==================================================================================================================
1: price_currency [100.00%=160616/160616]:
['PLN', 'EUR']
==================================================================================================================
2: price_details [66.30%=106494/160616]:
[nan, 'Cena Brutto, Do negocjacji', 'Cena Brutto', 'Cena Brutto, Faktura VAT', 'Cena Brutto, Do negocjacji, Faktura VAT', 'Cena Netto, Faktura VAT', 'Cena Netto, Do negocjacji, Faktura VAT']
==================================================================================================================
3: price_value [66.30%=106494/160616]:
[19900.0, 16900.0, 9900.0, 15900.0, 14900.0, 12900.0, 13900.0]
==================================================================================================================
4: seller_address [99.90%=160455/160616]:
['Radom, Mazowieckie', 'Lublin, Lubelskie', 'Kielce, Świętokrzyskie', 'Ostrów Mazowiecka, ostrowski, Mazowieckie', 'Bydgoszcz, Kujawsko-pomorskie', 'Ostrów Wielkopolski, ostrowski, Wielkopolskie', 'Okulickiego 3B - 05-500 Piaseczno, piaseczyński, Mazowieckie (Polska)']
==================================================================================================================
5: seller_name [60.53%=97228/160616]:
[None, 'AAA AUTO - aż 1000 samochodów w ofercie! do 24 m-cy gwarancji - CarLife! aż 80% pojazdów krajowych!', 'Master1', 'AUTO-HANDEL', 'Auto Handel', 'CARSERWIS', 'Bawaria Motors Warszawa - Dealer BMW - MINI - BMW M - BMW i']
==================================================================================================================
6: seller_type [99.90%=160455/160616]:
['Dealer', 'Osoba prywatna', None]
==================================================================================================================
7: feature_czujniki-parkowania-przednie [100.00%=160616/160616]:
[False, True]
==================================================================================================================
8: feature_poduszka-powietrzna-chroniąca-kolana [100.00%=160616/160616]:
[False, True]
==================================================================================================================
9: feature_kurtyny-powietrzne [100.00%=160616/160616]:
[True, False]
==================================================================================================================
10: feature_klimatyzacja-dwustrefowa [100.00%=160616/160616]:
[False, True]
==================================================================================================================
11: feature_światła-led [100.00%=160616/160616]:
[False, True]
==================================================================================================================
12: feature_czujnik-zmierzchu [100.00%=160616/160616]:
[False, True]
==================================================================================================================
13: feature_elektrycznie-ustawiane-lusterka [100.00%=160616/160616]:
[True, False]
==================================================================================================================
14: feature_asr-(kontrola-trakcji) [100.00%=160616/160616]:
[True, False]
==================================================================================================================
15: feature_poduszka-powietrzna-kierowcy [100.00%=160616/160616]:
[True, False]
==================================================================================================================
16: feature_cd [100.00%=160616/160616]:
[True, False]
==================================================================================================================
17: feature_elektryczne-szyby-przednie [100.00%=160616/160616]:
[True, False]
==================================================================================================================
18: feature_poduszka-powietrzna-pasażera [100.00%=160616/160616]:
[True, False]
==================================================================================================================
19: feature_system-start-stop [100.00%=160616/160616]:
[False, True]
==================================================================================================================
20: feature_światła-do-jazdy-dziennej [100.00%=160616/160616]:
[False, True]
==================================================================================================================
21: feature_komputer-pokładowy [100.00%=160616/160616]:
[True, False]
==================================================================================================================
22: feature_elektryczne-szyby-tylne [100.00%=160616/160616]:
[True, False]
==================================================================================================================
23: feature_klimatyzacja-manualna [100.00%=160616/160616]:
[False, True]
==================================================================================================================
24: feature_tapicerka-welurowa [100.00%=160616/160616]:
[False, True]
==================================================================================================================
25: feature_czujnik-deszczu [100.00%=160616/160616]:
[False, True]
==================================================================================================================
26: feature_światła-przeciwmgielne [100.00%=160616/160616]:
[True, False]
==================================================================================================================
27: feature_ogrzewanie-postojowe [100.00%=160616/160616]:
[False, True]
==================================================================================================================
28: feature_radio-niefabryczne [100.00%=160616/160616]:
[False, True]
==================================================================================================================
29: feature_regulowane-zawieszenie [100.00%=160616/160616]:
[False, True]
==================================================================================================================
30: feature_ogranicznik-prędkości [100.00%=160616/160616]:
[False, True]
==================================================================================================================
31: feature_zmieniarka-cd [100.00%=160616/160616]:
[False, True]
==================================================================================================================
32: feature_szyberdach [100.00%=160616/160616]:
[False, True]
==================================================================================================================
33: feature_isofix [100.00%=160616/160616]:
[True, False]
==================================================================================================================
34: feature_asystent-pasa-ruchu [100.00%=160616/160616]:
[False, True]
==================================================================================================================
35: feature_alufelgi [100.00%=160616/160616]:
[True, False]
==================================================================================================================
36: feature_bluetooth [100.00%=160616/160616]:
[False, True]
==================================================================================================================
37: feature_nawigacja-gps [100.00%=160616/160616]:
[False, True]
==================================================================================================================
38: feature_asystent-parkowania [100.00%=160616/160616]:
[False, True]
==================================================================================================================
39: feature_wspomaganie-kierownicy [100.00%=160616/160616]:
[True, False]
==================================================================================================================
40: feature_podgrzewana-przednia-szyba [100.00%=160616/160616]:
[False, True]
==================================================================================================================
41: feature_przyciemniane-szyby [100.00%=160616/160616]:
[False, True]
==================================================================================================================
42: feature_elektrycznie-ustawiane-fotele [100.00%=160616/160616]:
[False, True]
==================================================================================================================
43: feature_klimatyzacja-czterostrefowa [100.00%=160616/160616]:
[False, True]
==================================================================================================================

44: feature_tuner-tv [100.00%=160616/160616]:
[False, True]
==================================================================================================================
45: feature_poduszki-boczne-przednie [100.00%=160616/160616]:
[True, False]
==================================================================================================================
46: feature_tempomat-aktywny [100.00%=160616/160616]:
[False, True]
==================================================================================================================
47: feature_klimatyzacja-automatyczna [100.00%=160616/160616]:
[True, False]
==================================================================================================================
48: feature_poduszki-boczne-tylne [100.00%=160616/160616]:
[False, True]
==================================================================================================================
49: feature_radio-fabryczne [100.00%=160616/160616]:
[True, False]
==================================================================================================================
50: feature_odtwarzacz-dvd [100.00%=160616/160616]:
[False, True]
==================================================================================================================
51: feature_czujniki-parkowania-tylne [100.00%=160616/160616]:
[False, True]
==================================================================================================================
52: feature_łopatki-zmiany-biegów [100.00%=160616/160616]:
[False, True]
==================================================================================================================
53: feature_centralny-zamek [100.00%=160616/160616]:
[True, False]
==================================================================================================================
54: feature_dach-panoramiczny [100.00%=160616/160616]:
[False, True]
==================================================================================================================
55: feature_kamera-cofania [100.00%=160616/160616]:
[False, True]
==================================================================================================================
56: feature_immobilizer [100.00%=160616/160616]:
[True, False]
==================================================================================================================
57: feature_czujnik-martwego-pola [100.00%=160616/160616]:
[False, True]
==================================================================================================================
58: feature_gniazdo-sd [100.00%=160616/160616]:
[False, True]
==================================================================================================================
59: feature_podgrzewane-lusterka-boczne [100.00%=160616/160616]:
[True, False]
==================================================================================================================
60: feature_podgrzewane-przednie-siedzenia [100.00%=160616/160616]:
[False, True]
==================================================================================================================
61: feature_hak [100.00%=160616/160616]:
[False, True]
==================================================================================================================
62: feature_abs [100.00%=160616/160616]:
[True, False]
==================================================================================================================
63: feature_wielofunkcyjna-kierownica [100.00%=160616/160616]:
[True, False]
==================================================================================================================
64: feature_światła-xenonowe [100.00%=160616/160616]:
[False, True]
==================================================================================================================
65: feature_gniazdo-usb [100.00%=160616/160616]:
[False, True]
==================================================================================================================
66: feature_tapicerka-skórzana [100.00%=160616/160616]:
[False, True]
==================================================================================================================
67: feature_gniazdo-aux [100.00%=160616/160616]:
[False, True]
==================================================================================================================
68: feature_esp-(stabilizacja-toru-jazdy) [100.00%=160616/160616]:
[True, False]
==================================================================================================================
69: feature_alarm [100.00%=160616/160616]:
[True, False]
==================================================================================================================
70: feature_podgrzewane-tylne-siedzenia [100.00%=160616/160616]:
[False, True]
==================================================================================================================
71: feature_mp3 [100.00%=160616/160616]:
[False, True]
==================================================================================================================
72: feature_tempomat [100.00%=160616/160616]:
[True, False]
==================================================================================================================
73: feature_hud-(wyświetlacz-przezierny) [100.00%=160616/160616]:
[False, True]
==================================================================================================================
74: feature_elektrochromatyczne-lusterko-wsteczne [100.00%=160616/160616]:
[False, True]
==================================================================================================================
75: feature_relingi-dachowe [100.00%=160616/160616]:
[False, True]
==================================================================================================================
76: feature_elektrochromatyczne-lusterka-boczne [100.00%=160616/160616]:
[False, True]
==================================================================================================================
77: param_liczba-miejsc [88.76%=142559/160616]:
['5', None, '7', '4', '2', '9', '6']
==================================================================================================================
78: param_uszkodzony [3.97%=6384/160616]:
[None, 'Tak']
==================================================================================================================
79: param_marka-pojazdu [99.82%=160327/160616]:
['Volkswagen', 'Opel', 'BMW', 'Audi', 'Ford', 'Renault', 'Mercedes-Benz']
==================================================================================================================
80: param_model [0.08%=128/160616]:
[None, 'Avensis', 'A6', 'A3', 'Seria 5', 'Mondeo', 'Passat']
==================================================================================================================
81: param_engine-code [0.01%=14/160616]:
[None, '525', '320', 'E 300', 'C 220', 'A 190', '118']
==================================================================================================================
82: param_liczba-drzwi [90.71%=145688/160616]:
['5', '4', None, '3', '2', '6', '7']
==================================================================================================================
83: param_first-registration [0.03%=47/160616]:
[None, '2 July 2005', '26 October 2010', '23 September 2013', '15 May 2007', '1 February 2016', '9 August 2012']
==================================================================================================================
84: param_country-of-origin [0.05%=82/160616]:
[None, 'Polska', 'Niemcy', 'Francja', 'Stany Zjednoczone', 'Belgia', 'Holandia']
==================================================================================================================
85: param_pierwsza-rejestracja [36.25%=58229/160616]:
[None, '1 styczeń 2007', '1 styczeń 2014', '1 styczeń 2016', '1 czerwiec 2007', '1 czerwiec 2012', '1 październik 2010']
==================================================================================================================
86: param_gearbox [0.08%=121/160616]:
[None, 'Manualna', 'Automatyczna hydrauliczna (klasyczna)', 'Automatyczna dwusprzęgłowa (DCT, DSG)', 'Automatyczna bezstopniowa (CVT)', 'Półautomatyczna (ASG, Tiptronic)']
==================================================================================================================
87: param_przebieg [99.58%=159945/160616]:
['1 km', '5 km', '10 km', '180 000 km', '220 000 km', '190 000 km', '200 000 km']
==================================================================================================================
88: param_faktura-vat [24.76%=39767/160616]:
[None, 'Tak']
==================================================================================================================

89: param_rok-produkcji [99.82%=160327/160616]:
['2017', '2007', '2008', '2006', '2009', '2005', '2010']
==================================================================================================================
90: param_vin [22.23%=35701/160616]:
[None, 'XXXXXXXXXXXXXXXXX', '1', 'xxxxxxxxxxxxxxxxx', 'jmzcp19f231342694', 'TMAJ381ADHJ232798', 'WVWZZZ3CZGE204363']
==================================================================================================================
91: param_perłowy [10.86%=17445/160616]:
[None, 'Tak']
==================================================================================================================
92: param_homologacja-ciężarowa [0.72%=1156/160616]:
[None, 'Tak']
==================================================================================================================
93: param_service-record [0.04%=65/160616]:
[None, 'Tak']
==================================================================================================================
94: param_metallic [0.05%=87/160616]:
[None, 'Tak']
==================================================================================================================
95: param_leasing-concession [0.01%=13/160616]:
[None, 'Tak']
==================================================================================================================
96: param_color [0.08%=128/160616]:
[None, 'Srebrny', 'Czarny', 'Szary', 'Biały', 'Inny kolor', 'Niebieski']
==================================================================================================================
97: param_financing-option [0.03%=44/160616]:
[None, 'Tak']
==================================================================================================================
98: param_original-owner [0.04%=58/160616]:
[None, 'Tak']
==================================================================================================================
99: param_vat-marża [33.99%=54587/160616]:
[None, 'Tak']
==================================================================================================================
100: param_kategoria [99.90%=160455/160616]:
['Osobowe', None]
==================================================================================================================
101: param_co2-emissions [0.00%=3/160616]:
[None, '148 g/km', '119 g/km', '129 g/km']
==================================================================================================================
102: param_leasing [10.78%=17320/160616]:
[None, 'Tak']
==================================================================================================================
103: param_mileage [0.08%=127/160616]:
[None, '207 000 km', '1 km', '210 000 km', '238 000 km', '189 000 km', '140 000 km']
==================================================================================================================
104: param_zarejestrowany-jako-zabytek [0.08%=126/160616]:
[None, 'Tak']
==================================================================================================================
105: param_napęd [84.61%=135893/160616]:
['Na przednie koła', None, 'Na tylne koła', '4x4 (stały)', '4x4 (dołączany automatycznie)', '4x4 (dołączany ręcznie)']
==================================================================================================================
106: param_wartość-wykupu [0.25%=407/160616]:
[None, '1 PLN', '1 000 PLN', '87 857 PLN', '30 000 PLN', '20 000 PLN', '1 099 PLN']
==================================================================================================================
107: param_typ [99.82%=160326/160616]:
['Kombi', 'Sedan', 'Kompakt', 'SUV', 'Auta miejskie', 'Minivan', 'Auta małe']
==================================================================================================================
108: param_metalik [68.13%=109428/160616]:
['Tak', None, 'metallic']
==================================================================================================================
109: param_pierwszy-właściciel [44.24%=71051/160616]:
[None, 'Tak']
==================================================================================================================
110: param_skrzynia-biegów [94.48%=151750/160616]:
['Manualna', 'Automatyczna hydrauliczna (klasyczna)', 'Automatyczna dwusprzęgłowa (DCT, DSG)', None, 'Automatyczna bezstopniowa (CVT)', 'Półautomatyczna (ASG, Tiptronic)']
==================================================================================================================
111: param_vat-discount [0.03%=42/160616]:
[None, 'Tak']
==================================================================================================================
112: param_no-accident [0.05%=77/160616]:
[None, 'Tak']
==================================================================================================================
113: param_liczba-pozostałych-rat [0.28%=442/160616]:
[None, '36', '48', '60', '47', '35', '59']
==================================================================================================================
114: param_particle-filter [0.01%=9/160616]:
[None, 'Tak']
==================================================================================================================
115: param_zarejestrowany-w-polsce [46.08%=74016/160616]:
[None, 'Tak']
==================================================================================================================
116: param_oferta-od [99.90%=160455/160616]:
['Firmy', 'Osoby prywatnej', None]
==================================================================================================================
117: param_moc [91.11%=146331/160616]:
[None, '150 KM', '140 KM', '90 KM', '105 KM', '110 KM', '115 KM']
==================================================================================================================
118: param_make [0.08%=128/160616]:
[None, 'Audi', 'Ford', 'Toyota', 'Opel', 'Volkswagen', 'BMW']
==================================================================================================================
119: param_kraj-pochodzenia [67.96%=109150/160616]:
[None, 'Niemcy', 'Polska', 'Francja', 'Belgia', 'Szwajcaria', 'Holandia']
==================================================================================================================
120: param_engine-power [0.07%=115/160616]:
[None, '150 HP', '140 HP', '90 HP', '116 HP', '110 HP', '100 HP']
==================================================================================================================
121: param_year [0.08%=128/160616]:
[None, '2017', '2010', '2007', '2008', '2014', '2013']
==================================================================================================================
122: param_serwisowany-w-aso [49.21%=79045/160616]:
[None, 'Tak']
==================================================================================================================
123: param_rodzaj-paliwa [99.82%=160327/160616]:
['Diesel', 'Benzyna', 'Benzyna+LPG', 'Hybryda', None, 'Elektryczny', 'Benzyna+CNG']
==================================================================================================================
124: param_możliwość-finansowania [33.41%=53665/160616]:
[None, 'Tak']
==================================================================================================================
125: param_registered-in-poland [0.04%=58/160616]:
[None, 'Tak']
==================================================================================================================
126: param_transmission [0.07%=110/160616]:
[None, 'Na przednie koła', 'Na tylne koła', '4x4 (dołączany automatycznie)', '4x4 (stały)', '4x4 (dołączany ręcznie)']
==================================================================================================================
127: param_miesięczna-rata [0.45%=725/160616]:
[None, '400 PLN', '600 PLN', '500 PLN', '700 PLN', '450 PLN', '750 PLN']
==================================================================================================================
128: param_kod-silnika [10.74%=17251/160616]:
[None, '320', '520', '318', '530', 'E 220', '525']
==================================================================================================================
129: param_version [0.06%=102/160616]:
[None, 'II (2003 - 2009)', 'C6 (2004-2011)', '8P (2003-2012)', 'I (2003-2010)', 'I (2002-2010)', 'II (2007-2014)']
==================================================================================================================
130: param_opłata-początkowa [0.26%=412/160616]:
[None, '1 PLN', '15 000 PLN', '20 000 PLN', '5 000 PLN', '50 000 PLN', '35 000 PLN']
==================================================================================================================

131: param_model-pojazdu [99.82%=160327/160616]:
['Astra', 'Passat', 'Seria 3', 'Golf', 'A4', 'Seria 5', 'Focus']
==================================================================================================================
132: param_pojemność-skokowa [95.16%=152840/160616]:
['2 000 cm3', '1 600 cm3', None, '1 400 cm3', '1 900 cm3', '1 598 cm3', '1 998 cm3']
==================================================================================================================
133: param_kierownica-po-prawej-(anglik) [0.72%=1163/160616]:
[None, 'Tak']
==================================================================================================================
134: param_fuel-type [0.08%=128/160616]:
[None, 'Diesel', 'Benzyna', 'Benzyna+LPG', 'Hybryda']
==================================================================================================================
135: param_vat-free [0.02%=32/160616]:
[None, 'Tak']
==================================================================================================================
136: param_acrylic [0.00%=6/160616]:
[None, 'Tak']
==================================================================================================================
137: param_damaged [0.00%=6/160616]:
[None, 'Tak']
==================================================================================================================
138: param_door-count [0.07%=117/160616]:
[None, '5', '4', '3', '2']
==================================================================================================================
139: param_tuning [0.54%=874/160616]:
[None, 'Tak']
==================================================================================================================
140: param_filtr-cząstek-stałych [5.87%=9425/160616]:
[None, 'Tak']
==================================================================================================================
141: param_nr-of-seats [0.07%=113/160616]:
[None, '5', '4', '7']
==================================================================================================================
142: param_kolor [99.82%=160327/160616]:
['Czarny', 'Srebrny', 'Szary', 'Biały', 'Niebieski', 'Inny kolor', 'Czerwony']
==================================================================================================================
143: param_engine-capacity [0.08%=122/160616]:
[None, '1 600 cm3', '2 000 cm3', '1 995 cm3', '1 400 cm3', '1 968 cm3', '1 998 cm3']
==================================================================================================================
144: param_pearl [0.01%=12/160616]:
[None, 'Tak']
==================================================================================================================
145: param_stan [99.90%=160455/160616]:
['Używane', 'Nowe', None]
==================================================================================================================
146: param_wersja [77.42%=124355/160616]:
[None, 'II (2012-)', 'H (2004-2014)', 'II (2008-)', 'II (2003 - 2009)', 'A (2008-2017)', 'E90 (2005-2012)']
==================================================================================================================
147: param_emisja-co2 [1.94%=3114/160616]:
[None, '4 g/km', '5 g/km', '119 g/km', '139 g/km', '109 g/km', '6 g/km']
==================================================================================================================
148: param_body-type [0.08%=128/160616]:
[None, 'Kombi', 'Sedan', 'Kompakt', 'Minivan', 'SUV', 'Auta miejskie']
==================================================================================================================
149: param_matowy [0.31%=494/160616]:
[None, 'Tak', 'matt']
==================================================================================================================
150: param_bezwypadkowy [62.65%=100625/160616]:
['Tak', None]
==================================================================================================================
151: param_akryl-(niemetalizowany) [3.82%=6137/160616]:
[None, 'Tak', 'acrylic']
==================================================================================================================
152: param_monthly-payment-value [0.00%=2/160616]:
[None, '400 PLN', '501 PLN']
==================================================================================================================
153: car_id [100.00%=160616/160616]:
[0, 2, 3, 4, 5, 6, 7]
==================================================================================================================

In [5]:
param_marka_pojazdu_counts = pd.DataFrame(total['new_param_marka-pojazdu'].value_counts()).reset_index()
param_marka_pojazdu_counts

          index  new_param_marka-pojazdu
0    Volkswagen                    11322
1          Opel                     9780
2           BMW                     8333
3          Audi                     7973
4          Ford                     7577
..          ...                      ...
95       Syrena                        1
96     Moskwicz                        1
97  Autobianchi                        1
98          Aro                        1
99          GWM                        1

[100 rows x 2 columns]

In [6]:
param_marka_pojazdu_counts.loc[param_marka_pojazdu_counts['index'] == 'BMW', ]

  index  new_param_marka-pojazdu
2   BMW                     8333

In [23]:
def get_param_marka_pojazdu_level(marka):
    x = param_marka_pojazdu_counts.loc[param_marka_pojazdu_counts['index'] == marka, ['new_param_marka-pojazdu']]
    if x.empty:
        return -1
    else: 
        return x.values[0][0]

print(get_param_marka_pojazdu_level('Ford'))
#print(get_param_marka_pojazdu_level('Test'))

7577

In [25]:
total['encoded_new_param_marka_pojazdu'] = total.apply(lambda row: get_param_marka_pojazdu_level(row['new_param_marka-pojazdu']), axis=1)
print(total['encoded_new_param_marka_pojazdu'].value_counts())

-1        54231
 11322    11322
 9780      9780
 8333      8333
 7973      7973
          ...
 6           12
 11          11
 2           10
 7            7
 5            5
Name: encoded_new_param_marka_pojazdu, Length: 66, dtype: int64

In [26]:
param_model_counts = pd.DataFrame(total['new_param_model'].value_counts()).reset_index()
param_model_counts

                                                 index  new_param_model
0                                                Astra             3197
1                                               Passat             2832
2                                              Seria 3             2722
3                                                 Golf             2520
4                                                   A4             2460
..                                                 ...              ...
984                                            Equinox                1
985  H-1/H300 2497ccm - 168KM 3.1t 08-11 2.5 crdi s...                1
986                                           Spitfire                1
987                                         New Yorker                1
988                                              Steed                1

[989 rows x 2 columns]

In [30]:
def get_param_model_pojazdu_level(model):
    x = param_model_counts.loc[param_model_counts['index'] == model, ['new_param_model']]
    if x.empty:
        return -1
    else: 
        return x.values[0][0]

print(get_param_model_pojazdu_level('Passat'))

2832

In [31]:
total['encoded_new_param_model_pojazdu'] = total.apply(lambda row: get_param_model_pojazdu_level(row['new_param_model']), axis=1)
print(total['encoded_new_param_model_pojazdu'].value_counts())

-1       54231
 3197     3197
 2832     2832
 2722     2722
 2520     2520
         ...
 62         62
 20         60
 56         56
 53         53
 25         50
Name: encoded_new_param_model_pojazdu, Length: 262, dtype: int64

In [32]:
param_wersja_counts = pd.DataFrame(total['new_param_wersja'].value_counts()).reset_index()
param_wersja_counts

                index  new_param_wersja
0          II (2012-)              1572
1       H (2004-2014)              1429
2          II (2008-)              1214
3    II (2003 - 2009)              1177
4       A (2008-2017)              1166
..                ...               ...
503     A (1982-1993)                 1
504    B1 (1973-1981)                 1
505    II (2006-2010)                 1
506    II (1991-1996)                 1
507           GLK 280                 1

[508 rows x 2 columns]

In [34]:
def get_param_wersja_level(wersja):
    x = param_wersja_counts.loc[param_wersja_counts['index'] == wersja, ['new_param_wersja']]
    if x.empty:
        return -1
    else: 
        return x.values[0][0]

print(get_param_wersja_level('II (2003 - 2009)'))

1177

In [35]:
total['encoded_new_param_wersja_pojazdu'] = total.apply(lambda row: get_param_wersja_level(row['new_param_wersja']), axis=1)
print(total['encoded_new_param_wersja_pojazdu'].value_counts())

-1       78033
 907      1814
 1572     1572
 772      1544
 1429     1429
         ...
 33         33
 16         32
 1          32
 13         26
 17         17
Name: encoded_new_param_wersja_pojazdu, Length: 237, dtype: int64

In [37]:
param_kod_silnika_counts = pd.DataFrame(total['new_param_kod-silnika'].value_counts()).reset_index()
param_kod_silnika_counts

      index  new_param_kod-silnika
0       320                   1223
1       520                    897
2       318                    732
3       530                    544
4       525                    441
..      ...                    ...
223   B 250                      1
224     340                      1
225   C 400                      1
226  CL 420                      1
227   G 320                      1

[228 rows x 2 columns]

In [38]:
def get_param_kod_silnika_level(kod):
    x = param_kod_silnika_counts.loc[param_kod_silnika_counts['index'] == kod, ['new_param_kod-silnika']]
    if x.empty:
        return -1
    else: 
        return x.values[0][0]

print(get_param_kod_silnika_level('318'))

732

In [39]:
total['encoded_new_param_kod_silnika'] = total.apply(lambda row: get_param_kod_silnika_level(row['new_param_kod-silnika']), axis=1)
print(total['encoded_new_param_kod_silnika'].value_counts())

-1       149129
 1223      1223
 897        897
 732        732
 544        544
          ...
 29          29
 24          24
 23          23
 1           23
 16          16
Name: encoded_new_param_kod_silnika, Length: 86, dtype: int64

In [36]:
total.columns

Index(['breadcrumb', 'created_at', 'price_currency', 'price_details',
       'price_value', 'seller_address', 'seller_name', 'seller_type',
       'feature_czujniki-parkowania-przednie',
       'feature_poduszka-powietrzna-chroniąca-kolana',
       ...
       'param_akryl-(niemetalizowany)', 'param_monthly-payment-value',
       'car_id', 'new_param_marka-pojazdu', 'new_param_model',
       'new_param_kod-silnika', 'new_param_wersja',
       'encoded_new_param_marka_pojazdu', 'encoded_new_param_model_pojazdu',
       'encoded_new_param_wersja_pojazdu'],
      dtype='object', length=162)

In [ ]:
'seller_address', 'seller_name', 'seller_type'

In [40]:
print(total['seller_type'].value_counts())

Dealer            97228
Osoba prywatna    63227
Name: seller_type, dtype: int64

In [43]:
total['encoded_seller_type'] = total['seller_type'].map( {    
    'Dealer':2,
    'Osoba prywatna':1,
})
total.loc[total['seller_type'].isna(), ['encoded_seller_type']] = -1
print(total['encoded_seller_type'].value_counts())

 2.0    97228
 1.0    63227
-1.0      161
Name: encoded_seller_type, dtype: int64

In [44]:
seller_name_counts = pd.DataFrame(total['seller_name'].value_counts()).reset_index()
seller_name_counts

                                                  index  seller_name
0     AAA AUTO - aż 1000 samochodów w ofercie! do 24...          954
1                                               Master1          495
2                                           AUTO-HANDEL          432
3                                           Auto Handel          302
4                                             CARSERWIS          290
...                                                 ...          ...
7000              Jędrzejewski Sprzedaż Aut Ciężarowych            1
7001                              Star-Trade Autohandel            1
7002                                             MAROKA            1
7003                                         AUTO-KULON            1
7004  Expert Polska - Lider Sprzedaży - Samochody No...            1

[7005 rows x 2 columns]

In [46]:
def get_seller_name_level(kod):
    x = seller_name_counts.loc[seller_name_counts['index'] == kod, ['seller_name']]
    if x.empty:
        return -1
    else: 
        return x.values[0][0]

print(get_seller_name_level('Auto Handel'))

302

In [47]:
total['encoded_seller_name'] = total.apply(lambda row: get_seller_name_level(row['seller_name']), axis=1)
print(total['encoded_seller_name'].value_counts())

-1     63388
 10     2360
 9      2232
 7      2156
 8      2144
       ...
 99       99
 94       94
 84       84
 83       83
 70       70
Name: encoded_seller_name, Length: 151, dtype: int64

In [48]:
seller_address_counts = pd.DataFrame(total['seller_address'].value_counts()).reset_index()
seller_address_counts

                                           index  seller_address
0                             Radom, Mazowieckie             994
1                              Lublin, Lubelskie             790
2                         Kielce, Świętokrzyskie             761
3      Ostrów Mazowiecka, ostrowski, Mazowieckie             531
4                  Bydgoszcz, Kujawsko-pomorskie             513
...                                          ...             ...
12803      Płóczki Dolne, lwówecki, Dolnośląskie               1
12804               Suchy Bór, opolski, Opolskie               1
12805    Leśniów Wielki, zielonogórski, Lubuskie               1
12806                  Chałupy, pucki, Pomorskie               1
12807              Wysoka, pilski, Wielkopolskie               1

[12808 rows x 2 columns]

In [50]:
def get_seller_address_level(kod):
    x = seller_address_counts.loc[seller_address_counts['index'] == kod, ['seller_address']]
    if x.empty:
        return -1
    else: 
        return x.values[0][0]

print(get_seller_address_level('Ostrów Mazowiecka, ostrowski, Mazowieckie'))

531

In [51]:
total['encoded_seller_address'] = total.apply(lambda row: get_seller_address_level(row['seller_address']), axis=1)
print(total['encoded_seller_address'].value_counts())

1      3626
4      3132
5      3045
10     3040
3      3000
       ...
115     115
111     111
104     104
97       97
84       84
Name: encoded_seller_address, Length: 229, dtype: int64

In [96]:
filter_col = ['car_id', 
    'encoded_seller_type', 'encoded_seller_name', 'encoded_seller_address', 
              
    'encoded_new_param_marka_pojazdu', 'new_param_marka-pojazdu',
    'encoded_new_param_model_pojazdu', 'new_param_model',
    'encoded_new_param_wersja_pojazdu', 'new_param_wersja',
    'encoded_new_param_kod_silnika', 'new_param_kod-silnika',
             ]

In [53]:
total.loc[~total['price_value'].isnull(), filter_col].to_csv('output/ft_new_param_3_encoded_train.csv', index=False) 
total.loc[total['price_value'].isnull(), filter_col].to_csv('output/ft_new_param_3_encoded_test.csv', index=False)

In [63]:
for cl in train.columns:
    print(cl)

breadcrumb
created_at
price_currency
price_details
price_value
seller_address
seller_name
seller_type
feature_czujniki-parkowania-przednie
feature_poduszka-powietrzna-chroniąca-kolana
feature_kurtyny-powietrzne
feature_klimatyzacja-dwustrefowa
feature_światła-led
feature_czujnik-zmierzchu
feature_elektrycznie-ustawiane-lusterka
feature_asr-(kontrola-trakcji)
feature_poduszka-powietrzna-kierowcy
feature_cd
feature_elektryczne-szyby-przednie
feature_poduszka-powietrzna-pasażera
feature_system-start-stop
feature_światła-do-jazdy-dziennej
feature_komputer-pokładowy
feature_elektryczne-szyby-tylne
feature_klimatyzacja-manualna
feature_tapicerka-welurowa
feature_czujnik-deszczu
feature_światła-przeciwmgielne
feature_ogrzewanie-postojowe
feature_radio-niefabryczne
feature_regulowane-zawieszenie
feature_ogranicznik-prędkości
feature_zmieniarka-cd
feature_szyberdach
feature_isofix
feature_asystent-pasa-ruchu
feature_alufelgi
feature_bluetooth
feature_nawigacja-gps
feature_asystent-parkowania
feature_wspomaganie-kierownicy
feature_podgrzewana-przednia-szyba
feature_przyciemniane-szyby
feature_elektrycznie-ustawiane-fotele
feature_klimatyzacja-czterostrefowa
feature_tuner-tv
feature_poduszki-boczne-przednie
feature_tempomat-aktywny
feature_klimatyzacja-automatyczna
feature_poduszki-boczne-tylne
feature_radio-fabryczne
feature_odtwarzacz-dvd
feature_czujniki-parkowania-tylne
feature_łopatki-zmiany-biegów
feature_centralny-zamek
feature_dach-panoramiczny
feature_kamera-cofania
feature_immobilizer
feature_czujnik-martwego-pola
feature_gniazdo-sd
feature_podgrzewane-lusterka-boczne
feature_podgrzewane-przednie-siedzenia
feature_hak
feature_abs
feature_wielofunkcyjna-kierownica
feature_światła-xenonowe
feature_gniazdo-usb
feature_tapicerka-skórzana
feature_gniazdo-aux
feature_esp-(stabilizacja-toru-jazdy)
feature_alarm
feature_podgrzewane-tylne-siedzenia
feature_mp3
feature_tempomat
feature_hud-(wyświetlacz-przezierny)
feature_elektrochromatyczne-lusterko-wsteczne
feature_relingi-dachowe
feature_elektrochromatyczne-lusterka-boczne
param_liczba-miejsc
param_uszkodzony
param_marka-pojazdu
param_model
param_engine-code
param_liczba-drzwi
param_first-registration
param_country-of-origin
param_pierwsza-rejestracja
param_gearbox
param_przebieg
param_faktura-vat
param_rok-produkcji
param_vin
param_perłowy
param_homologacja-ciężarowa
param_service-record
param_metallic
param_leasing-concession
param_color
param_financing-option
param_original-owner
param_vat-marża
param_kategoria
param_co2-emissions
param_leasing
param_mileage
param_zarejestrowany-jako-zabytek
param_napęd
param_wartość-wykupu
param_typ
param_metalik
param_pierwszy-właściciel
param_skrzynia-biegów
param_vat-discount
param_no-accident
param_liczba-pozostałych-rat
param_particle-filter
param_zarejestrowany-w-polsce
param_oferta-od
param_moc
param_make
param_kraj-pochodzenia
param_engine-power
param_year
param_serwisowany-w-aso
param_rodzaj-paliwa
param_możliwość-finansowania
param_registered-in-poland
param_transmission
param_miesięczna-rata
param_kod-silnika
param_version
param_opłata-początkowa
param_model-pojazdu
param_pojemność-skokowa
param_kierownica-po-prawej-(anglik)
param_fuel-type
param_vat-free
param_acrylic
param_damaged
param_door-count
param_tuning
param_filtr-cząstek-stałych
param_nr-of-seats
param_kolor
param_engine-capacity
param_pearl
param_stan
param_wersja
param_emisja-co2
param_body-type
param_matowy
param_bezwypadkowy
param_akryl-(niemetalizowany)
param_monthly-payment-value
car_id
new_param_marka-pojazdu
new_param_model
new_param_kod-silnika
new_param_wersja

In [68]:
print(train['price_currency'].value_counts())
train['encoded_price_currency'] = train.apply(lambda row: 1 if row['price_currency'] == 'PLN' else 2, axis=1)
print(train['encoded_price_currency'].value_counts())

PLN    106290
EUR       204
Name: price_currency, dtype: int64
1    106290
2       204
Name: encoded_price_currency, dtype: int64

In [70]:
print(train['price_details'].value_counts())
import re

train['netto'] = train.apply(lambda row: 1 if re.search('Netto', row['price_details']) else 0, axis=1)
print(pd.crosstab(train['price_details'], train['netto']))

train['faktura_VAT'] = train.apply(lambda row: 1 if re.search('Faktura VAT', row['price_details']) else 0, axis=1)
print(pd.crosstab(train['price_details'], train['faktura_VAT']))

train['cena_do_negocjacji'] = train.apply(lambda row: 1 if re.search('negocjacji', row['price_details']) else 0, axis=1)
print(pd.crosstab(train['price_details'], train['cena_do_negocjacji']))

Cena Brutto, Do negocjacji                                                    49422
Cena Brutto                                                                   29148
Cena Brutto, Faktura VAT                                                      13781
Cena Brutto, Do negocjacji, Faktura VAT                                        7528
Cena Netto, Faktura VAT                                                        2828
Cena Netto, Do negocjacji, Faktura VAT                                         2277
Cena Netto                                                                      716
Cena Netto, Do negocjacji                                                       685
Brutto                                        , Do negocjacji                    51
Brutto                                                                           27
Brutto                    , Faktura VAT                                          10
Brutto                    , Faktura VAT                    , Do negocjacji       10
Netto                    , Faktura VAT                    , Do negocjacji         5
Netto                    , Faktura VAT                                            3
Netto                                        , Do negocjacji                      2
Gross                                                                             1
Name: price_details, dtype: int64
netto                                                                           0  \
price_details
Brutto                                                                         27
Brutto                                        , Do negocjacji                  51
Brutto                    , Faktura VAT                                        10
Brutto                    , Faktura VAT                    , Do negocjacji     10
Cena Brutto                                                                 29148
Cena Brutto, Do negocjacji                                                  49422
Cena Brutto, Do negocjacji, Faktura VAT                                      7528
Cena Brutto, Faktura VAT                                                    13781
Cena Netto                                                                      0
Cena Netto, Do negocjacji                                                       0
Cena Netto, Do negocjacji, Faktura VAT                                          0
Cena Netto, Faktura VAT                                                         0
Gross                                                                           1
Netto                                        , Do negocjacji                    0
Netto                    , Faktura VAT                                          0
Netto                    , Faktura VAT                    , Do negocjacji       0

netto                                                                          1
price_details
Brutto                                                                         0
Brutto                                        , Do negocjacji                  0
Brutto                    , Faktura VAT                                        0
Brutto                    , Faktura VAT                    , Do negocjacji     0
Cena Brutto                                                                    0
Cena Brutto, Do negocjacji                                                     0
Cena Brutto, Do negocjacji, Faktura VAT                                        0
Cena Brutto, Faktura VAT                                                       0
Cena Netto                                                                   716
Cena Netto, Do negocjacji                                                    685
Cena Netto, Do negocjacji, Faktura VAT                                      2277
Cena Netto, Faktura VAT                                                     2828
Gross                                                                          0
Netto                                        , Do negocjacji                   2
Netto                    , Faktura VAT                                         3
Netto                    , Faktura VAT                    , Do negocjacji      5
faktura_VAT                                                                     0  \
price_details
Brutto                                                                         27
Brutto                                        , Do negocjacji                  51
Brutto                    , Faktura VAT                                         0
Brutto                    , Faktura VAT                    , Do negocjacji      0
Cena Brutto                                                                 29148
Cena Brutto, Do negocjacji                                                  49422
Cena Brutto, Do negocjacji, Faktura VAT                                         0
Cena Brutto, Faktura VAT                                                        0
Cena Netto                                                                    716
Cena Netto, Do negocjacji                                                     685
Cena Netto, Do negocjacji, Faktura VAT                                          0
Cena Netto, Faktura VAT                                                         0
Gross                                                                           1
Netto                                        , Do negocjacji                    2
Netto                    , Faktura VAT                                          0
Netto                    , Faktura VAT                    , Do negocjacji       0

faktura_VAT                                                                     1
price_details
Brutto                                                                          0
Brutto                                        , Do negocjacji                   0
Brutto                    , Faktura VAT                                        10
Brutto                    , Faktura VAT                    , Do negocjacji     10
Cena Brutto                                                                     0
Cena Brutto, Do negocjacji                                                      0
Cena Brutto, Do negocjacji, Faktura VAT                                      7528
Cena Brutto, Faktura VAT                                                    13781
Cena Netto                                                                      0
Cena Netto, Do negocjacji                                                       0
Cena Netto, Do negocjacji, Faktura VAT                                       2277
Cena Netto, Faktura VAT                                                      2828
Gross                                                                           0
Netto                                        , Do negocjacji                    0
Netto                    , Faktura VAT                                          3
Netto                    , Faktura VAT                    , Do negocjacji       5
cena_do_negocjacji                                                              0  \
price_details
Brutto                                                                         27
Brutto                                        , Do negocjacji                   0
Brutto                    , Faktura VAT                                        10
Brutto                    , Faktura VAT                    , Do negocjacji      0
Cena Brutto                                                                 29148
Cena Brutto, Do negocjacji                                                      0
Cena Brutto, Do negocjacji, Faktura VAT                                         0
Cena Brutto, Faktura VAT                                                    13781
Cena Netto                                                                    716
Cena Netto, Do negocjacji                                                       0
Cena Netto, Do negocjacji, Faktura VAT                                          0
Cena Netto, Faktura VAT                                                      2828
Gross                                                                           1
Netto                                        , Do negocjacji                    0
Netto                    , Faktura VAT                                          3
Netto                    , Faktura VAT                    , Do negocjacji       0

cena_do_negocjacji                                                              1
price_details
Brutto                                                                          0
Brutto                                        , Do negocjacji                  51
Brutto                    , Faktura VAT                                         0
Brutto                    , Faktura VAT                    , Do negocjacji     10
Cena Brutto                                                                     0
Cena Brutto, Do negocjacji                                                  49422
Cena Brutto, Do negocjacji, Faktura VAT                                      7528
Cena Brutto, Faktura VAT                                                        0
Cena Netto                                                                      0
Cena Netto, Do negocjacji                                                     685
Cena Netto, Do negocjacji, Faktura VAT                                       2277
Cena Netto, Faktura VAT                                                         0
Gross                                                                           0
Netto                                        , Do negocjacji                    2
Netto                    , Faktura VAT                                          0
Netto                    , Faktura VAT                    , Do negocjacji       5

In [71]:
train['price_value'].quantile(np.linspace(.1, 1, 9, 0))

0.1      7800.0
0.2     11900.0
0.3     15800.0
0.4     19900.0
0.5     25500.0
0.6     32900.0
0.7     44500.0
0.8     64900.0
0.9    109000.0
Name: price_value, dtype: float64

In [92]:
#bins = [0, 2, 18, 35, 65]
#names = ['<2', '2-18', '18-35', '35-65', '65+']

bins = np.array(train['price_value'].quantile(np.linspace(.1, 1, 90, 0)))
names2 = np.array(np.linspace(.1, 1, 90, 0))
names = []

for name in names2:
    names.append("perc_{:.2f}".format(name).replace('0.', ''))

print(bins)
print(names)

d = dict(enumerate(names, 1))
print(d)

[  7800.       7999.       8500.       8900.       9200.       9800.
   9900.      10500.      10900.      11299.      11900.      11999.
  12500.      12900.      13200.      13890.      13900.      14500.
  14900.      15000.      15800.      15900.      16500.      16900.
  17000.      17800.      17900.      18500.      18900.      19400.
  19900.      19900.      20900.      21500.      21900.      22682.
  22900.      23900.      24000.      24900.      25500.      25900.
  26800.      27300.      27900.      28900.      29500.      29900.
  30900.      31900.      32900.      33900.      34900.      35900.
  36900.      37900.      38999.      39900.      41600.      42900.
  44500.      45900.      47500.      48900.      49990.      52900.
  54900.      57000.      59800.      61900.      64900.      67500.
  69900.      73305.18    77000.      79999.      84990.      89696.39
  94900.      99914.399  109000.     117675.95   126794.3548 137700.
 149703.36   165000.     187900.     217904.2    257747.42   339990.    ]
['perc_10', 'perc_11', 'perc_12', 'perc_13', 'perc_14', 'perc_15', 'perc_16', 'perc_17', 'perc_18', 'perc_19', 'perc_20', 'perc_21', 'perc_22', 'perc_23', 'perc_24', 'perc_25', 'perc_26', 'perc_27', 'perc_28', 'perc_29', 'perc_30', 'perc_31', 'perc_32', 'perc_33', 'perc_34', 'perc_35', 'perc_36', 'perc_37', 'perc_38', 'perc_39', 'perc_40', 'perc_41', 'perc_42', 'perc_43', 'perc_44', 'perc_45', 'perc_46', 'perc_47', 'perc_48', 'perc_49', 'perc_50', 'perc_51', 'perc_52', 'perc_53', 'perc_54', 'perc_55', 'perc_56', 'perc_57', 'perc_58', 'perc_59', 'perc_60', 'perc_61', 'perc_62', 'perc_63', 'perc_64', 'perc_65', 'perc_66', 'perc_67', 'perc_68', 'perc_69', 'perc_70', 'perc_71', 'perc_72', 'perc_73', 'perc_74', 'perc_75', 'perc_76', 'perc_77', 'perc_78', 'perc_79', 'perc_80', 'perc_81', 'perc_82', 'perc_83', 'perc_84', 'perc_85', 'perc_86', 'perc_87', 'perc_88', 'perc_89', 'perc_90', 'perc_91', 'perc_92', 'perc_93', 'perc_94', 'perc_95', 'perc_96', 'perc_97', 'perc_98', 'perc_99']
{1: 'perc_10', 2: 'perc_11', 3: 'perc_12', 4: 'perc_13', 5: 'perc_14', 6: 'perc_15', 7: 'perc_16', 8: 'perc_17', 9: 'perc_18', 10: 'perc_19', 11: 'perc_20', 12: 'perc_21', 13: 'perc_22', 14: 'perc_23', 15: 'perc_24', 16: 'perc_25', 17: 'perc_26', 18: 'perc_27', 19: 'perc_28', 20: 'perc_29', 21: 'perc_30', 22: 'perc_31', 23: 'perc_32', 24: 'perc_33', 25: 'perc_34', 26: 'perc_35', 27: 'perc_36', 28: 'perc_37', 29: 'perc_38', 30: 'perc_39', 31: 'perc_40', 32: 'perc_41', 33: 'perc_42', 34: 'perc_43', 35: 'perc_44', 36: 'perc_45', 37: 'perc_46', 38: 'perc_47', 39: 'perc_48', 40: 'perc_49', 41: 'perc_50', 42: 'perc_51', 43: 'perc_52', 44: 'perc_53', 45: 'perc_54', 46: 'perc_55', 47: 'perc_56', 48: 'perc_57', 49: 'perc_58', 50: 'perc_59', 51: 'perc_60', 52: 'perc_61', 53: 'perc_62', 54: 'perc_63', 55: 'perc_64', 56: 'perc_65', 57: 'perc_66', 58: 'perc_67', 59: 'perc_68', 60: 'perc_69', 61: 'perc_70', 62: 'perc_71', 63: 'perc_72', 64: 'perc_73', 65: 'perc_74', 66: 'perc_75', 67: 'perc_76', 68: 'perc_77', 69: 'perc_78', 70: 'perc_79', 71: 'perc_80', 72: 'perc_81', 73: 'perc_82', 74: 'perc_83', 75: 'perc_84', 76: 'perc_85', 77: 'perc_86', 78: 'perc_87', 79: 'perc_88', 80: 'perc_89', 81: 'perc_90', 82: 'perc_91', 83: 'perc_92', 84: 'perc_93', 85: 'perc_94', 86: 'perc_95', 87: 'perc_96', 88: 'perc_97', 89: 'perc_98', 90: 'perc_99'}

In [95]:
train['price_value_range'] = np.vectorize(d.get)(np.digitize(train['price_value'], bins))
print(train['price_value_range'].value_counts())

None       10481
perc_41     2340
perc_16     2013
perc_26     1914
perc_31     1856
           ...
perc_45      248
perc_15      195
perc_30      165
perc_35      164
perc_25        8
Name: price_value_range, Length: 90, dtype: int64

In [ ]:
total['encoded_new_param_kolor'] = total['new_param_kolor_2'].map( {
    'Czarny':4,
    'Srebrny':11,
    'Szary':5,
    'Biały':2,
    'Niebieski':12,
    'Inny kolor':7,
    'Czerwony':6,
    'Brązowy':1,
    'Zielony':14,
    'Bordowy':9,
    'Złoty':8,
    'Beżowy':3,
    'Fioletowy':10,
    'Żółty':13,
})
print(total['encoded_new_param_kolor'].value_counts())

In [ ]:
total['new_param_typ_2'] = total['new_param_typ']
total.loc[total['new_param_typ'].isna(), ['new_param_typ_2']] = '_Inne'

total.loc[total['new_param_typ_2'] == 'hatchback', ['new_param_typ_2']] = 'Sedan'
total.loc[total['new_param_typ_2'] == 'sedan/coupe', ['new_param_typ_2']] = 'Coupe'
total.loc[total['new_param_typ_2'] == 'sedan/coupe/cabrio', ['new_param_typ_2']] = 'Kabriolet'
total.loc[total['new_param_typ_2'] == 'coupe/cabrio', ['new_param_typ_2']] = 'Kabriolet'
total.loc[total['new_param_typ_2'] == 'compact/minivan', ['new_param_typ_2']] = 'Minivan'
total.loc[total['new_param_typ_2'] == 'city-car/suv', ['new_param_typ_2']] = 'Auta miejskie'
total.loc[total['new_param_typ_2'] == 'minivan/city-car', ['new_param_typ_2']] = 'Minivan'
total.loc[total['new_param_typ_2'] == 'coupe/cabrio/minivan', ['new_param_typ_2']] = 'Kabriolet'
total.loc[total['new_param_typ_2'] == 'compact/sedan', ['new_param_typ_2']] = 'Kompakt'
total.loc[total['new_param_typ_2'] == 'others', ['new_param_typ_2']] = '_Inne'
total.loc[total['new_param_typ_2'] == 'not enough details', ['new_param_typ_2']] = '_Inne'


print(total['new_param_typ_2'].value_counts())

In [ ]:
total['new_param_typ'] = total['new_param_typ_2']
print(total['new_param_typ'].value_counts())

In [ ]:
print(total.groupby(total['new_param_kraj_pochodzenia_2'])[['price_value_pln']]\
    .median()\
    .sort_values(by='price_value_pln',ascending=False))

In [ ]:
total['new_param_kraj_pochodzenia_Polska'] = total.apply(lambda row: 1 if 'Polska' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
#print(total['new_param_kraj_pochodzenia_Polska'].value_counts())
total['new_param_kraj_pochodzenia_Niemcy'] = total.apply(lambda row: 1 if 'Niemcy' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Francja'] = total.apply(lambda row: 1 if 'Francja' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Belgia'] = total.apply(lambda row: 1 if 'Belgia' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Szwajcaria'] = total.apply(lambda row: 1 if 'Szwajcaria' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Holandia'] = total.apply(lambda row: 1 if 'Holandia' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Stany_Zjednoczone'] = total.apply(lambda row: 1 if 'Stany Zjednoczone' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Włochy'] = total.apply(lambda row: 1 if 'Włochy' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Austria'] = total.apply(lambda row: 1 if 'Austria' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Wielka_Brytania'] = total.apply(lambda row: 1 if 'Wielka Brytania' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Dania'] = total.apply(lambda row: 1 if 'Dania' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Szwecja'] = total.apply(lambda row: 1 if 'Szwecja' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Luksemburg'] = total.apply(lambda row: 1 if 'Luksemburg' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Kanada'] = total.apply(lambda row: 1 if 'Kanada' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Czechy'] = total.apply(lambda row: 1 if 'Czechy' == row['new_param_kraj-pochodzenia'] else 0, axis=1)
total['new_param_kraj_pochodzenia_Hiszpania'] = total.apply(lambda row: 1 if 'Hiszpania' == row['new_param_kraj-pochodzenia'] else 0, axis=1)

total['new_param_kraj_pochodzenia_Inny'] = total.apply(lambda row: 1 if 'Inny' == row['new_param_kraj-pochodzenia'] else 0, axis=1)